@model IQueryable<xtcx.Models.Member>
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_SideBar1")

<div id="page-wrapper" class="cx-pdtop-50">

    <div class="row">
        <ol class="breadcrumb row">
            <li><a class="cx-fontgreen" href="/home"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a class="cx-fontgreen" href="#"> 用户管理</a></li>            
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    用户列表
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table  style="text-align:center;width:100%" class="table table-striped table-bordered table-hover" id="dataTables">
                        <thead>
                            <tr>
                                <th>用户账号</th>
                                <th>姓名</th>
                                <th>用户类型</th>
                                <th>工作地点</th>
                                <th>联系方式</th>
                                <th>地址</th>
                                <th>角色</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MemberType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.WorkingPlace)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td class="text-center"><a href="/account/editmember/@item.Id">修改</a> | <a href="/account/deluser/@item.Id">删除</a></td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>

@section scripts
{
    <script>
    $(document).ready(function() {
        $('#dataTables').DataTable({
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                }
            },
            "responsive": true,
            "paging": true,
            "ordering": true,
            "info": false,
            "searching": true
        });
    });
</script>    
}